{% extends 'pointage/base.html' %}
{% block title %}Liste des fichiers Excel importés{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card shadow-sm mt-5">
                <div class="card-body">
                    <h1 class="card-title mb-4 text-center">Fichiers Excel importés</h1>
                    {% if files %}
                        <ul class="list-group">
                            {% for f in files %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong>{{ f.file.name|cut:'uploads/' }}</strong>
                                        <br><small class="text-muted">Importé le {{ f.uploaded_at|date:'d/m/Y H:i' }}</small>
                                        {% if request.user.groups.all.0.name == 'Admin' or request.user.is_superuser %}
                                            <br><small class="text-info">Par : {{ f.uploaded_by.username }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="btn-group" role="group">
                                    <a href="{% url 'pointage:display_excel' f.file.name|cut:'uploads/' %}" class="btn btn-outline-primary btn-sm">Voir</a>
                                        <a href="{% url 'pointage:heures_supplementaires_file' f.file.name|cut:'uploads/' %}" class="btn btn-outline-success btn-sm">Heures Supp</a>
                                        <form action="{% url 'pointage:delete_excel' f.id %}" method="post" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce fichier ?');">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger btn-sm">Supprimer</button>
                                        </form>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-info mt-3">Aucun fichier importé pour le moment.</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 